{% extends "Home/navbarAndfooter.html" %}
{% block NavbarAndFooter %}
    {{ block.super }}
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/selleranalytics.css' %}">
    </head>
    <h1 class="title">Seller's Analytics</h1>

    <form class="back-link" action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        <button type="submit">Back</button>
    </form>

    <div class="seller-analytics">
        <div class="total-orders">
            <p class="order-title">Total Orders:</p>
            <p class="order-num">{{ total_orders }}</p>
        </div>
        <div class="orders-to-pack">
            <p class="order-title">Orders to Pack:</p>
            <p class="order-num">{{ orders_to_pack }}</p>
        </div>
        <div class="orders-to-ship">
            <p class="order-title">Orders to Ship:</p>
            <p class="order-num">{{ orders_to_ship }}</p>
        </div>
        <div class="orders-to-deliver">
            <p class="order-title">Orders to Deliver:</p>
            <p class="order-num">{{ orders_to_deliver }}</p>
        </div>
        
        <div class="chart">
            <img src="data:image/png;base64,{{ image_base64 }}" alt="Seller Analytics Pie Chart" style="width:100%; max-width:600px;">
        </div>
    </div>
{% endblock %}
